nav {
    ul {
      border: 1px solid red;
      position: relative;
      right: 10rem;
      top: 0.5rem;
      li {
        display: inline;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
  .logo {
    font-size: 2rem;
    font-weight: bold;
  }